//: Typography
$heading-font       : "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
$content-font       : cambria, georgia, "Times New Roman", Times, serif;
$code-font          : consolas, 'lucida console', 'courier new', monospace;
$base-font-size     : 18px;
$base-line-height   : 1.3889;

//: Colors
$main-bg-color      : #fff;
$main-text-color    : #000;

//: Links
$link-color         : #00f;
$link-hover-color   : #00c;
$link-visited-color : #608;

//: Accents and supporting colors
$accent-color-1  : #66f;
$muted-color-1   : lighten($accent-color-1, 10%);
$muted-color-2   : lighten($accent-color-1, 20%);
$neutral-color-1 : lighten($accent-color-1, 20%);
$neutral-color-2 : lighten($accent-color-1, 20%);

$darker-color-1  : darken($accent-color-1, 10%);
$darker-color-2  : darken($accent-color-1, 20%);

$base-bg-1       : #0B1272;
$base-bg-2       : #151A46;
$reverse-color   : #fff;

$error-color     : $main-text-color + #ad1c0f;
$error-bg-color  : $error-color + #a0a0a0;

//: Dimensions
$columns            : 12;
$desktop-width      : 970px;
$padding            : 5px;
$outer-margin       : 10px;
$column-gutter      : 10px;
$width-name         : max-device-width; 
$small-screen-width : 320px;
$tablet-width       : 768px;

//: Utility class names
$block           : ".block";
$clear-fix       : "clearfix";
$clear-both      : ".c-b";
$clear-left      : ".c-l";
$clear-right     : ".c-r";
$float-none      : ".f-n";
$float-left      : ".f-l";
$float-right     : ".f-r";
$hide            : "hide";
$inline          : ".inline";
$inline-block    : ".i-b";
$flat-list       : "none";
$error           : "error";
$container       : "container";
$content         : "content";
$grid-prefix     : "grid";
