//: Styles for smaller screen devices including iPhones in portrait mode
@media only screen and (max-width: 361px) {

}

@media only screen and (max-width: 640px) {

}

//: Special adjustments for phones with larger displays or iPhones in landscape mode
@media only screen and (min-width: 641px) {
    @import 'grid';
}

@media only screen and (min-width: 970px) {

}
