//: Mixins
@mixin analyze-bg-color($base-bg-1: $base-bg-1, $reverse-color: $reverse-color) {
  @if lightness($base-bg-1) <= 50 {
    @if lightness($reverse-color) >= 50 {
      color: $reverse-color;  
    } @else {
      color: invert($reverse-color);
    }
  } @else {
      @if lightness($reverse-color) >= 50 {
        color: invert($reverse-color);  
      } @else {
        color: $reverse-color; 
      }
  }
}

@mixin default-font {
  font-size:$base-font-size;
  line-height:$base-line-height;
}

@mixin default-gradient($base-bg-1: $base-bg-1, $base-bg-2: $base-bg-2) {
  @include background-image(linear-gradient($base-bg-1, $base-bg-2));
  @include analyze-bg-color($base-bg-1, $reverse-color);
}

//: Functions
// Canvas - ((Total Units -1) x Gutter) ÷ Total Units
@function colwidth($num, $padding: $padding) {
  @if ($num <= $columns){
    @return ((($desktop-width - $outer-margin * 2) - (($columns - 1) * $column-gutter)) / $columns) * $num  + (($num - 1) * $column-gutter) - ($padding * 2)  
  }
  @else {
    @return $desktop-width;
  }
}

@function em($target, $context: $base-font-size) {
  @return unit-helper($target, $context, em)
}

@function percent($target, $context: $base-font-size) {
  @return unit-helper($target, $context, percent)
}

// Helper function to calculate units relative to the target (desired) size
// and the context of the containing element
@function unit-helper($target, $context: $base-font-size, $units: em) {
  @if $target == 0 { 
    @return 0 
  } @elseif $units == 'percent' {
      @return percentage($target / $context)
  } @else {
      @if (unit($target) == unit($context)) {
        @return $target / $context + 0#{$units}  
      }
  }
}

// Removes the units from a value
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
