/**
 *  Print styles
 */
@media print {
  body {
    background:white !important; 
    color:black !important; 
    font:10pt/1.5 $content-font;
    margin:0;
    padding:0;
  }

  img {border:0; display:block;}

  /* base heading styles */
  h1, h2, h3, h4, h5, h6 {color: black !important; font-weight:700; margin:0;}
  h1 {font-size:20pt;}
  h2 {font-size:18pt;}
  h3 {font-size:16pt;}
  h4 {font-size:14pt;}
  h5, h6 {letter-spacing:.5pt;}
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:black; text-decoration:none;}

  pre {height:auto}
  blockquote {border-left:1pt solid #808080; padding-left:3pt;}

  a {color:blue; text-decoration:underline;}
  a[href]:after {content: " (" attr(href) ") "; font-size: 90%; }
  
  #{'.' + $hide} {display:none; visibility:hidden !important;}
}