/**
 * Utility Classes
 */
%no-space {
  margin:0;
  padding:0;
}

#{$block}  {
  display:block;
}

#{$clear-left} {
  clear:left;
}

#{$clear-right} {
  clear:right;
}

#{$clear-both} {
  clear:both;
}

#{$float-left} {
  float:left;
}

#{$float-right} {
  float:right;
}

#{$float-none} {
  float:none;
}

%#{$hide} {
  display:none;
  visibility:hidden;
}

#{'.' + $hide} {
  @extend %#{$hide}; 
}

#{$inline} {
  display:inline;
}

#{$inline-block} {
  display:inline-block;
}

%#{$flat-list} {
  list-style:none;
}

#{'.' + $flat-list} {
  @extend %#{$flat-list};
  @extend %no-space;
}

%#{$clear-fix} {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}

#{'.' + $clear-fix}:after {
  @extend %#{$clear-fix};
}

%#{$error} {
  @include border-radius;
  border:1px solid $error-color;
  background:$error-bg-color;
  color:$error-color;
  padding:$padding;
}

#{'.' + $error} {
  @extend %#{$error};
}

%#{$container} {
  text-align:center;
}

#{'.' + $container} {
  @extend %#{$container};
}

%#{$content} {
  margin:0 auto;
  text-align:left;
}

#{'.' + $content} {
  @extend %#{$content};
}
