/**
 * @author: Ethan Gardner - http://www.ethangardner.com/
 * @package: Momentum CSS - v2.0.1
 * @license: MIT
*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Begin core styling
 */
body {
  background: white;
  color: black;
  font: 62.5% cambria, georgia, "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  font: 1.94444em/1.1429 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

h2 {
  font: 1.66667em/1.16667 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

h3 {
  font: 1.38889em/1.2 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

h4 {
  font: 1.11111em/1.25 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

h5 {
  font: 1em/1.3889 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

h6 {
  font: 0.88889em/1.125 "Franklin Gothic Medium", Tahoma, "Helvetica Neue", Arial, sans-serif;
}

ul, ol, dl, p {
  font-size: 1em;
  line-height: 1.3889;
  margin-bottom: 1em;
}

dd, dt, li, label {
  font-size: 18px;
  line-height: 1.3889;
}

dt {
  font-weight: 700;
}

dd {
  padding: 5px 0 5px 30px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #0000cc;
  text-decoration: underline;
}
a:visited {
  color: #660088;
}
a:focus {
  text-shadow: 0px 0px 1px #aaaaaa;
}

address, div {
  font-size: 18px;
  line-height: 1.3889;
}

abbr {
  border-bottom: 1px dotted #9999ff;
  cursor: help;
  letter-spacing: 1px;
}

b, strong, th {
  font-weight: 700;
}

i, em {
  font-style: italic;
}

sub, sup, small {
  font-size: .65em;
}

sup {
  line-height: 0;
  vertical-align: super;
}

sub {
  line-height: 0;
  vertical-align: sub;
}

code, pre {
  font-family: consolas, "lucida console", "courier new", monospace;
  font-size: 18px;
}

blockquote {
  background: #ccccff;
  border-left: 3px solid #9999ff;
  padding: 5px;
}

/**
 * Table
 */
table {
  font-size: 18px;
  line-height: 1.3889;
  margin-bottom: 1.5em;
  width: 100%;
}

tr {
  border-bottom: 1px solid #9999ff;
}

td, th {
  padding: 5px;
  vertical-align: top;
}

caption {
  font-weight: 700;
  padding: 10px 5px;
  text-align: center;
}

thead th {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0b1272), color-stop(100%, #151a46));
  background-image: -webkit-linear-gradient(#0b1272, #151a46);
  background-image: -moz-linear-gradient(#0b1272, #151a46);
  background-image: -o-linear-gradient(#0b1272, #151a46);
  background-image: linear-gradient(#0b1272, #151a46);
  color: white;
  border-bottom: 3px solid #6666ff;
}

tbody th {
  background: #9999ff;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
tbody tr:nth-child(odd) {
  background: #ccccff;
}

tfoot td {
  text-align: center;
}

/**
 * Lists 
 */
ol {
  list-style: decimal outside;
  padding-left: 30px;
}

ul {
  list-style: disc outside;
  padding-left: 30px;
}

/**
 * Forms
 */
form {
  padding: 5px 0;
}

fieldset {
  border: 1px solid #9999ff;
  padding: 5px;
  margin-bottom: 18px;
}

legend {
  font-size: 18px;
  padding: 5px;
}

button, .btn, input[type="submit"], input[type="reset"] {
  background: #0b1272;
  color: white;
  border: 1px solid #9999ff;
  cursor: pointer;
  font-size: 0.77778em;
  font-family: cambria, georgia, "Times New Roman", Times, serif;
  padding: 10px;
}
button:hover, .btn:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  -webkit-box-shadow: black 0 0 10px inset;
  -moz-box-shadow: black 0 0 10px inset;
  box-shadow: black 0 0 10px inset;
}

/**
 * Utility Classes
 */
.none {
  margin: 0;
  padding: 0;
}

.block {
  display: block;
}

.c-l {
  clear: left;
}

.c-r {
  clear: right;
}

.c-b {
  clear: both;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.f-n {
  float: none;
}

.hide {
  display: none;
  visibility: hidden;
}

.inline {
  display: inline;
}

.i-b {
  display: inline-block;
}

.none {
  list-style: none;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.error {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ad1c0f;
  background: #ffbcaf;
  color: #ad1c0f;
  padding: 5px;
}

.container {
  text-align: center;
}

.content {
  margin: 0 auto;
  text-align: left;
}

.grid-1 {
  width: 7.36842%;
}

.grid-2 {
  width: 15.78947%;
}

.grid-3 {
  width: 24.21053%;
}

.grid-4 {
  width: 32.63158%;
}

.grid-5 {
  width: 41.05263%;
}

.grid-6 {
  width: 49.47368%;
}

.grid-7 {
  width: 57.89474%;
}

.grid-8 {
  width: 66.31579%;
}

.grid-9 {
  width: 74.73684%;
}

.grid-10 {
  width: 83.15789%;
}

.grid-11 {
  width: 91.57895%;
}

.grid-12 {
  width: 100%;
}

/**
 *  Print styles
 */
@media print {
  body {
    background: white !important;
    color: black !important;
    font: 10pt/1.5 cambria, georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
  }

  img {
    border: 0;
    display: block;
  }

  /* base heading styles */
  h1, h2, h3, h4, h5, h6 {
    color: black !important;
    font-weight: 700;
    margin: 0;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }

  h4 {
    font-size: 14pt;
  }

  h5, h6 {
    letter-spacing: .5pt;
  }

  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
    text-decoration: none;
  }

  pre {
    height: auto;
  }

  blockquote {
    border-left: 1pt solid #808080;
    padding-left: 3pt;
  }

  a {
    color: blue;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }

  .hide {
    display: none;
    visibility: hidden !important;
  }
}
